* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


#latest-posts {
    margin: auto;
}
.content {
    position: relative;
}
/* Info img */
#info-img {
    height: 100%;
    width: auto;
}


/* Search */

#search {
    right: 0;
    padding-top: 10px;
    position: absolute;
}

#search-input {
    display: inline;
}

#search-button {
    display: inline;
}


/* Heading */

.heading {
    width: 100%;
    margin: 30px 0;


}


#header-h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3em;
    color: #65799b;
    margin: 0;
}


/* Latest posts */

.inner-box {
    margin: 0 30px 0 0;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: box-shadow 100ms ease-in;
    -ms-transition: box-shadow 100ms ease-in;
    -moz-transition: box-shadow 100ms ease-in;
    transition: box-shadow 100ms ease-in;
}

.inner-box:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #747c87;
} 

.blog-header {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
.blog-text {
    overflow: hidden;
    position: relative;
    line-height: 21px;
    max-height: 84px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 5px;
}
.read-more {
    cursor: pointer;
    margin-top: 10px;
    color: black;
    float: right;
}

.read-more:hover {
    color: #a4b2c4
}
.line {
    width: 100%;
    height: 1px;
    background-color: black;
}
/* Photogallery */
.thumbnail.img {
    margin: auto;
    text-align: center;
    position: relative;
    image-rendering: pixelated; /* Ei pilaa laatua */
    overflow: hidden;
}

#gallery {
    width: 100%;
}

/* Lightbox */


.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
    
}

.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 5%;
    image-rendering: pixelated;
}

.lightbox:target {
    
	outline: none;
	display: block;
}



/* Pure CSS own code */
.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}


.content {
    margin: auto;
    width: 65%;
}
.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}


/* Footer */

.footer ul {
    padding: 0;
    margin: auto;
    text-align: center;
}
.footer {
    background-color: #f2f2f2;
    margin: auto;
}

.footer a {
    color: #ccc;
    font-size: 80%;
}
#footer-box {
    margin: auto;
    padding: 2px;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.footer-img {
    display: inline;
    width: 30px;
    height: auto;
}
.footer-ul {
    margin: 0;
}


/* Links */
.pure-menu-link:hover {
    background: none;
    text-decoration: none;
    color: #142952;
    
}
.pure-menu-link {
    color: white;
}
#post-link {
    text-transform: uppercase;
}


/** Media screens **/

/* Mobile */
@media only screen and (max-width: 395px) {
    
    
    #desktop-nav {
        display: none;
    }
    
    #mobile-nav {
        display: none;
    }
    
    #small-mobile-nav {
        background: #65799b;
        height: auto;
        width: 100%;
        letter-spacing: 0.5px;
        text-align: center;
        vertical-align: center;
        margin: auto;
        position: fixed;
        z-index: 2;
    }
    #inner-div {
        margin: auto;
    }
    .content {
        width: 90%;
        margin: auto;
    }
    
    #layout {
        padding-top: 150px;
    }
    
    #posts-layout {
        padding-top: 50px;
    }
    #post-layout {
        padding-top: 80px;
    }
    
    #search {
        width: 100%;
        display: inline;
        text-align: center;
    }
    
    #search-input {
        width: 50%;
    }
    #email {
        width: 100%;
    }
    #text-area {
        width: 100%;
    }
    .inner-box {
        margin: 5px auto;
    }
    
    #info {
        display: none;
    }
    
    #info-mobile {
        width: 100%;
        margin: auto;
        height: auto;
        text-align: center;
    }

    #info-bar-mobile {
        display: block;
        width: 100%;

    }
    #info-bar-img-mobile {
        background-color: antiquewhite;
        width: 150px;
        height: 150px;
        border-radius: 100px;
        margin: auto;
        overflow: hidden;
    }
    #info-text {
        width: 100%;
    }
    
     .lightbox img {
        margin-top:50%;
         margin-bottom: 50%;
    }  


}
/* Tablet */
@media only screen and (min-width: 396px) and (max-width: 1119px){
    
    #layout {
        padding-top: 30px;
    }
    #post-layout {
        padding-top: 30px;
    }
    
    
    #desktop-nav {
        display: none;
    }
    #small-mobile-nav {
        display: none;
    }
    
    #mobile-nav {
        background: #65799b;
        letter-spacing: 0.5px;
        width: 100%;
        text-align: center;
        position: fixed;
        z-index: 2;
        height: auto;
    
    }
    .pure-menu-item {
        text-align: center;
    }
    .pure-menu-list {
        width: 100%;
    }
    .content {
        margin: 50px auto;
        width: 90%;
    }
    
    #gallery {
        width: 100%;
    }
    
    .photo {
        width: 50%;
    }  
    
    .inner-box {
        margin: 5px auto;
    }
    
   /* .sidebar {
    background: rgb(61, 79, 93);
    color: black;
    width: 100%;
    position: fixed;
    height: 50px;
    transition: height 1s, box-shadow 1s;
    -webkit-transition: height 1s, box-shadow 1s;
    -moz-transition: height 1s, box-shadow 1s;
    -o-transition: height 1s, box-shadow 1s;
    text-align: center;
    z-index: 2;
    margin: 0;
    overflow: hidden
    }
    
    nav {
    height: 100%;
    text-transform: uppercase;
    
    }
    .nav-link {
    color: white;
    
    }

    .nav-h1 {
    color: white;
    padding: 0;
    margin: 0;
    }

    #navbar-icon {
    height: 50px;
    }
    
    
    .sidebar:hover {
    height: 205px;
    box-shadow: 2px 2px 50px #000000; 
    }*/
    
    #info {
        display: none;
    }
    
    #info-mobile {
        width: 100%;
        margin: auto;
        height: auto;
        text-align: center;
    }

    #info-bar-mobile {

    }
    #info-bar-img-mobile {
        background-color: antiquewhite;
        width: 150px;
        height: 150px;
        border-radius: 100px;
        margin: auto;
        overflow: hidden;
    }
    #photo {
        height: 300px;
        width: 50%;
        overflow: hidden;
        max-width: 445px;
    }
    .thumbnail.img {
        height: 300px;
        width: auto;
        overflow: hidden;
        min-width: 447px;
        
    }
    
     .lightbox img {
        margin-top:25%;
    }

}

/* Photogallery extra mediascreen */
@media only screen and (max-width: 767px) {
    
    #gallery {
        width: 100%;
        overflow: hidden;
    }
    
    #photo {
        height: auto;
        width: 100%;
        max-width: 700px;
    }
    .thumbnail.img {
        height: auto;
        width: 100%;
        overflow: hidden;
         
    }
    #box {
        margin: auto;
    }  
        
    
}


/* Desktop */

@media only screen and (min-width: 1120px) {
    #layout {
        padding: 0;
    }

    #mobile-nav {
         display: none;
    }

    #small-mobile-nav {
        display: none;
    }

     #info-mobile {
        display: none;
    }

    .sidebar {
        background: #65799b;
        color: black;
        width: 50px;
        position: fixed;
        height: 100%;
        transition: width 1s, box-shadow 1s;
        -webkit-transition: width 1s, box-shadow 1s;
        -moz-transition: width 1s, box-shadow 1s;
        -o-transition: width 1s, box-shadow 1s;
        text-align: right;
        overflow: hidden;
    }
     nav {
        width: 100%;
        height: 100%;
        padding-left: 50px;
        white-space: nowrap; /* Ei rivitä tekstiä */
        margin-top: 50px;

    }
    .nav-link {
        display: block;
        color: white;

    }

    .nav-h1 {
        color: white;
        padding-right: 10px;
    }

    .sidebar:hover {
         width: 17%;
         box-shadow: 2px 2px 50px #000000; 
    }
    #navbar-icon {
        width: 50px;
    }
    #mobile-nav {
        display: none;
    }
    #small-mobile-nav {
        display: none;
    }


        /* Info */

    #info {
        position: fixed;
        top: 30%;
        right: 0;
        width: 20%;
        margin: auto;
    }

    #info-bar {
        width: 200px;
        margin: auto;
        text-align: center;

    }
    #info-bar-img {
        background-color: antiquewhite;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        overflow: hidden;
    }

    /* photogallery */
     #photo {
        height: 250px
    }

    .img {
         height: 100%;
    }

    #photogallery {
        margin-right: 20px;
    }

        /*Photogallery*/
    #photo {
        transition: box-shadow 300ms;
        -webkit-transition: box-shadow 300ms ease-in;
        -ms-transition: box-shadow 300ms ease-in;
        -moz-transition: box-shadow 300ms ease-in;
        text-align: center;
        overflow: hidden;
    }

    .thumbnail.img {
        opacity: 0.6;
        -webkit-transition: all 300ms ease-in;
        -webkit-transform: scale(1); 
        -ms-transition: all 300ms ease-in;
        -ms-transform: scale(1); 
        -moz-transition: all 300ms ease-in;
        -moz-transform: scale(1);
        transition: all 300ms ease-in;
        transform: scale(1);  
    }

        .thumbnail.img:hover {
            opacity: 1;
            -webkit-transition: all 300ms ease-in;
            -webkit-transform: scale(1.1);
            -ms-transition: all 300ms ease-in;
            -ms-transform: scale(1.1);   
            -moz-transition: all 300ms ease-in;
            -moz-transform: scale(1.2);
            transition: all 300ms ease-in;
            transform: scale(1.1);
        } 
        #photo:hover {
            box-shadow: 2px 2px 50px #000000;
        }
        #post-link {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 1.1em;
    }

    
}



    

   