* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}

a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}
#latest-posts {
    margin: auto;
}
#jea {
    margin: auto;
}
#jea2 {
    margin: auto;
}



/* Search */

#search {
    float: right;
    padding-top: 10px
}

#search-input {
    display: inline;
}

#search-button {
    display: inline;
}


/* Heading */

.heading {
    width: 100%;
}

.header-h1 {
    font-size: 3em;
}


/* Latest posts */

.inner-box {
    margin: 0 30px 0 0;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: box-shadow 100ms ease-in;
    -ms-transition: box-shadow 100ms ease-in;
    -moz-transition: box-shadow 100ms ease-in;
    transition: box-shadow 100ms ease-in;
}

.inner-box:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px #747c87;
} 

.blog-header {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
.blog-text {
    overflow: hidden;
    position: relative;
    line-height: 21px;
    max-height: 84px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 5px;
}
.read-more {
    cursor: pointer;
    margin-top: 10px;
    color: black;
    float: right;
}

.read-more:hover {
    color: #a4b2c4
}
.line {
    width: 100%;
    height: 1px;
    background-color: black;
}

/* Photogallery */

.photo {
    width:300px;
    height:200px;
    overflow:hidden;
    text-align: center;
    margin: 2px;
    float: left;
    transition: box-shadow 300ms;
}

.img {
    height: 100%;
    text-align: center;
    opacity: 0.6;
    position: relative;
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1);
    transition: all 300ms ease-in;
    transform: scale(1);  
    image-rendering: pixelated; /* Ei pilaa laatua */
}

.img:hover {
    
    opacity: 1;
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 300ms ease-in;
    transform: scale(1.1);
}
.photo:hover {
    box-shadow: 2px 2px 50px #000000;
}
#gallery {
    width: 100%;
}

/* Contact form */




/* Other stuff */
.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0;
}
.content {
    margin: auto;
    width: 65%;
}
.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

/* Pure links */
.pure-menu-link:hover {
    background-color: rgb(61, 79, 93);
    text-decoration: none;
    color: #142952;
    
    
}
.pure-menu-link {
    color: white;
}


/* Tablet */
@media only screen and (min-width: 396px) and (max-width: 1119px){
    
    
    #desktop-nav {
        display: none;
    }
    #small-mobile-nav {
        display: none;
    }
    
    #mobile-nav {
        background: rgb(61, 79, 93);
        letter-spacing: 0.5px;
        width: 100%;
        text-align: center;
        position: fixed;
        z-index: 2;
        height: 40px;
    
    }
    .pure-menu-item {
        text-align: center;
    }
    .pure-menu-list {
        width: 100%;
    }
    
    .content {
        margin: 50px auto;
        width: 80%;
    }
    
    #gallery {
        width: 100%;
    }
    
    .photo {
        height: 220px;
    }
    
    
    
   /* .sidebar {
    background: rgb(61, 79, 93);
    color: black;
    width: 100%;
    position: fixed;
    height: 50px;
    transition: height 1s, box-shadow 1s;
    -webkit-transition: height 1s, box-shadow 1s;
    -moz-transition: height 1s, box-shadow 1s;
    -o-transition: height 1s, box-shadow 1s;
    text-align: center;
    z-index: 2;
    margin: 0;
    overflow: hidden
    }
    
    nav {
    height: 100%;
    text-transform: uppercase;
    
    }
    .nav-link {
    color: white;
    
    }

    .nav-h1 {
    color: white;
    padding: 0;
    margin: 0;
    }

    #navbar-icon {
    height: 50px;
    }
    
    
    .sidebar:hover {
    height: 205px;
    box-shadow: 2px 2px 50px #000000; 
    }*/
    
    #info {
        display: none;
    }
    
    #info-mobile {
        width: 100%;
        margin: auto;
        height: auto;
    }

    #info-bar-mobile {

    }
    #info-bar-img-mobile {
        background-color: antiquewhite;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin: auto;
    }

}


/* Mobile */
@media only screen and (max-width: 395px) {
    
    
    #desktop-nav {
        display: none;
    }
    
    #mobile-nav {
        display: none;
    }
     
    #info {
        display: none;
    }
    
    #small-mobile-nav {
        background: rgb(61, 79, 93);
        height: 120px;
        width: 100%;
        letter-spacing: 0.5px;
        text-align: center;
        vertical-align: center;
        margin: auto;
        position: fixed;
        z-index: 2;
    }
    #inner-div {
        margin: auto;
    }
    .content {
        padding-top: 120px;
        width: 90%;
        margin: auto;
    }
    
    #search {
        width: 100%;
        display: inline;
    }
    
    #search-input {
        width: 50%;
    }
    #email {
        width: 100%;
    }
    #text-area {
        width: 100%;
    }
    .inner-box {
        margin: 5px auto;
    }
    
    #gallery {
        width: 100%;
    }
    
    .photo {
        height: 220px;
        width: 100%;
    }

}

/* Tablet */

@media only screen and (min-width: 1120px) {
    
    #mobile-nav {
        display: none;
    }
    
    #small-mobile-nav {
        display: none;
    }
    
    #info-mobile {
        display: none;
    }
    
    .sidebar {
    background: rgb(61, 79, 93);
    color: black;
    width: 50px;
    position: fixed;
    height: 100%;
    transition: width 1s, box-shadow 1s;
    -webkit-transition: width 1s, box-shadow 1s;
    -moz-transition: width 1s, box-shadow 1s;
    -o-transition: width 1s, box-shadow 1s;
    text-align: right;
    overflow: hidden;
    }
    nav {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    white-space: nowrap; /* Ei rivitä tekstiä */
    margin-top: 50px;
    text-transform: uppercase;
    
    }
    .nav-link {
    display: block;
    color: white;
    
    }

    .nav-h1 {
    color: white;
    padding-right: 10px;
    }

    .sidebar:hover {
    width: 17%;
    box-shadow: 2px 2px 50px #000000; 
    }
    #navbar-icon {
    width: 50px;
    }
    #mobile-nav {
        display: none;
    }
    #small-mobile-nav {
        display: none;
    }
    
    
    /* Info */

    #info {
    position: fixed;
    top: 30%;
    right: 0;
    width: 20%;
    margin: auto;
    }

    #info-bar {
    width: 200px;
    margin: auto;
    text-align: center;

    }
    #info-bar-img {
    background-color: antiquewhite;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    
    }
    
}
    

   