* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}

a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}
/*  Navbar  */
.sidebar {
    background: rgb(61, 79, 93);
    color: black;
    width: 50px;
    position: fixed;
    height: 100%;
    transition: width 1s, box-shadow 1s;
    -webkit-transition: width 1s, box-shadow 1s;
    -moz-transition: width 1s, box-shadow 1s;
    -o-transition: width 1s, box-shadow 1s;
    text-align: right;
}
nav {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    padding-left: 50px;
    white-space: nowrap; /* Ei rivitä tekstiä */
}
.nav-link {
    display: block;
    color: white;
    
}

.nav-h1 {
    color: white; 
}

.sidebar:hover {
    width: 15%;
    box-shadow: 2px 2px 50px #000000;
    
}

#navbar-icon {
    width: 50px;
}
/* Heading */
.heading {
    width: 100%;
}

.header-h1 {
    font-size: 3em;
}

/* Latest posts */

.blog-post {
    width: 50%;
    height: auto;
    float: left;
}

/* Photogallery */

.photo {
    width:300px;
    height:200px;
    overflow:hidden;
    text-align: center;
    margin: 2px;
    float: left;
    transition: box-shadow 300ms;
}

.img {
    height: 100%;
    opacity: 0.6;
    position: relative;
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1);
    transition: all 300ms ease-in;
    transform: scale(1);  
    image-rendering: pixelated; /* Ei pilaa laatua */

}

.img:hover {
    
    opacity: 1;
    z-index: 2;
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 300ms ease-in;
    transform: scale(1.1);
}
.photo:hover {
    box-shadow: 2px 2px 50px #000000;
}

/* Other stuff */
.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0;
}
.content {
    margin: auto;
    width: 65%;
}
.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
}
